<!DOCTYPE html>

<title>Modification Stage</title>

{% block body %}
    <h1>Modifier un stage</h1>

    {{ include('stage_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_stage_read') }}">Retour</a>

    {{ include('stage_crud/_delete_form.html.twig') }}
{% endblock %}
