<!DOCTYPE html>

<title>Nouveau Stage</title>

{% block body %}
    <h1>Ajouter un stage</h1>

    {{ include('stage_crud/_form.html.twig') }}

    <a href="{{ path('app_stage_read') }}">Retour</a>
{% endblock %}
