<!DOCTYPE html>

<title>New Utilisateur</title>

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>

    {{ include('utilisateur_crud/_form.html.twig') }}

    <a href="{{ path('app_utilisateur_read') }}">Retour</a>
{% endblock %}
