<!DOCTYPE html>

<title>Modification Etudiant</title>

{% block body %}
    <h1>Modifier l'étudiant</h1>

    {{ include('etudiant_crud/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_etudiant_read') }}">Retour</a>

    {{ include('etudiant_crud/_delete_form.html.twig') }}
{% endblock %}
