<!DOCTYPE html>

<title>Nouvel étudiant</title>

{% block body %}
    <h1>Créer un nouvel étudiant</h1>

    {{ include('etudiant_crud/_form.html.twig') }}

    <a href="{{ path('app_etudiant_read') }}">Retour</a>
{% endblock %}
